
body {
  background-color: rgb(228, 123, 123);
}

#board {
  width: 610px;
  height: 335px;
  border: 10px solid rgb(255, 238, 238);
  border-radius: 20px;
  background-color: rgb(250, 205, 205);
  position: relative;
}

#startButton {
  /* appearance */
  background-color: rgb(243, 165, 165);
  width: 70px;
  height: 30px;
  border: 5px solid rgb(252, 250, 172);
  border-radius: 10px;

    /* positioning */
    position: absolute;
    top: 145px;
    left: 257px;
}


#player1Paddle {
  /* appearance */
  background-color: rgb(243, 165, 165);
  width: 20px;
  height: 80px;
  border: 5px solid rgb(252, 250, 172);
  border-radius: 20px;
  
  
  /* positioning */
  position: absolute;
  top: 115px;
  left: 20px;
}

#player2Paddle {
  /* appearance */
  background-color: rgb(252, 250, 172);
  width: 20px;
  height: 80px;
  border: 5px solid rgb(243, 165, 165);
  border-radius: 20px;
  
  
  /* positioning */
  position: absolute;
  top: 115px;
  left: 560px;
}

#ball {
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(228, 140, 140);
  border-radius: 10px;
  
  /* positioning */
  position: absolute;
  top: 145px;
  left: 286px;
}

#halfLine {
  /* appearance */
  width: 20px;
  height: 335px;
  background-color: white;

  /* positioning */
  position: fixed;
  top: 18px;
  left: 305px;
}


